<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Portfolio - Characteristics</title>
    <link href="../Content/fontawesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="../Content/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../Content/css/portfolio.css" rel="stylesheet">
</head>
<body>
    <a name="top"></a>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark d-block d-md-flex">
        <div class="d-flex align-items-center">
            <a href="index.html"><img class="rounded-circle" src="../Content/images/ben.png" style="width: 48px; height: 48px"/></a>
            <button class="btn ml-auto d-md-none navabr-toggler" type="button" data-toggle="collapse" data-target="#benNav" aria-expanded="false" aria-controls="collapseExample">
                <span class="glyphicon glyphicon-envelope">...</span>
            </button>
        </div>
        
        <div class="collapse navbar-collapse" id="benNav">
            <ul class="navbar-nav ml-auto text-center d-md-flex">
                <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="characteristics.html">Characteristics</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="hobbies.html">Hobbies</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="skills.html">Software Skills</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="employments.html">Employments</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="characterreference.html">Character References</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div>
            <div class="ben-about-cont">
                <h1 class="text-center">About Me</h1>
                <div class="row">
                    <div class="col-lg-4 text-center" style="margin-bottom: 30px;" class="text-center">
                        <img src="../Content/images/ben.png" class="img-fluid rounded-circle" style="max-height: 350px;"/>
                    </div>
                    <div class="col-lg-8 ben-about-info">
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <h4>General Information</h4>
                                    <ul>
                                        <li>
                                            <strong>Name</strong><br/>
                                            <span>Benedict Cudal Bancure</span>
                                        </li>
                                        <li>
                                            <strong>Nicknames</strong><br/>
                                            <span>Dict, Ben, Dikong, Benedict</span>
                                        </li>
                                        <li>
                                            <strong>Birthdate</strong><br/>
                                            <span>July 28, 1994</span>
                                        </li>
                                        <li>
                                            <strong>Birthplace</strong><br/>
                                            <span>Bitag Grande, Baggao, Cagayan</span>
                                        </li>
                                        <li>
                                            <strong>Civil Status</strong><br/>
                                            <span>Single</span>
                                        </li>
                                        <li>
                                            <strong>Religion</strong><br/>
                                            <span>Traditional Roman Catholic</span>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <h4>Contact Information</h4>
                                    <ul>
                                        <li>
                                            <strong>Mobile Number</strong><br/>
                                            <span>+639551795216, +639109764454</span>
                                        </li>
                                        <li>
                                            <strong>E-mail Address</strong><br/>
                                            <span>benedictbancure1994@gmail.com</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <h4>Accounts</h4>
                                    <ul>
                                        <li>
                                            <strong>Facebook</strong><br/>
                                            <a href="https://www.facebook.com/alphaorionis" target="_blank">
                                                https://www.facebook.com/alphaorionis
                                            </a>
                                        </li>
                                        <li>
                                            <strong>Google</strong><br/>
                                            <a href="https://plus.google.com/102657944255965231131" target="_blank">
                                                https://plus.google.com/102657944255965231131
                                            </a>
                                        </li>
                                        <li>
                                            <strong>Twitter</strong><br/>
                                            <a href="https://twitter.com/benbancure94" target="_blank">
                                                https://twitter.com/benbancure94
                                            </a>
                                        </li>
                                        <li>
                                            <strong>Github</strong><br/>
                                            <a href="https://github.com/benbancure94" target="_blank">
                                                https://github.com/benbancure94
                                            </a>
                                        </li>
                                        <li>
                                            <strong>LinkedIn</strong><br/>
                                            <a href="https://www.linkedin.com/in/benedict-bancure-656a96153" target="_blank">
                                                https://www.linkedin.com/in/benedict-bancure-656a96153
                                            </a>
                                        </li>
                                        <li>
                                            <strong>Instagram</strong><br/>
                                            <a href="https://www.instagram.com/benedictus_sum1994" target="_blank">
                                                https://www.instagram.com/benedictus_sum1994
                                            </a>
                                        </li>
                                        <li>
                                            <strong>Stackoveflow</strong><br/>
                                            <a href="https://www.instagram.com/benedictus_sum1994" target="_blank">
                                                https://www.instagram.com/benedictus_sum1994
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="ben-portfolio-cont">
                <h1 style="text-align: center">Characteristics, Personality, and Attitude</h1>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div>
                            <img class="img-fluid rounded-circle" src="../Content/images/characteristics/introvert.jpg"/>
                        </div>
                        <h5>Introvert, Quiet, and Shy</h5>
                        <p>
                            I am an introvert and quiet person. I occasionally have trouble socializing and meeting new friends, but I can make friends selectively. I occasionally do not initiate conversation.
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div>
                            <img class="img-fluid rounded-circle" src="../Content/images/hobbies.jpg"/>
                        </div>
                        <h5>Old-Fashioned</h5>
                        <p>
                            I am an old-fashioned person particularly when it comes to music, clothing, language, and behavior.
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div>
                            <img class="img-fluid rounded-circle" src="../Content/images/characteristics/religious.jpg"/>
                        </div>
                        <h5>Religious</h5>
                        <p>
                            I devoutly love God. I love Jesus, our Divine Saviour, His Immaculate Blessed Mother Virgin Mary, and His Foster Father Saint Joseph. I love them with all my heart. I love my faith. I love this universal faith until the end.
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div>
                            <img class="img-fluid rounded-circle" src="../Content/images/characteristics/polymath.jpg"/>
                        </div>
                        <h5>Little Polymath</h5>
                        <p>
                            I have quite wide range of knowledge, but I want to learn new ones. I love science and its branches, especially astronomy, chemistry, physics, mathematics, etc. and my field, programming. I love arts, too, particularly music.
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div>
                            <img class="img-fluid rounded-circle" src="../Content/images/charref.jpg"/>
                        </div>
                        <h5>Mananagalog and Little Polyglot</h5>
                        <p>
                            I sincerely love my native tongue, Tagalog. This is why I speak and am striving to speak it as pure as possible, but not puristically. However, I love learning languages. I can speak English but not that fluently, can write it but still learning its rich grammar and vocabulary. I love also Philippine languages such as Iloco and Cebuano. I know quite a lot of Spanish, some Latin and Chinese as well.
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div>
                            <img class="img-fluid rounded-circle" src="../Content/images/characteristics/patriot.png"/>
                        </div>
                        <h5>Patriot</h5>
                        <p>
                            No country will I ardently love more than my native land, the Philippine Islands. I love its culture, its people, language, and its legacy to its modern citizens. 
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div>
                            <img class="img-fluid rounded-circle" src="../Content/images/characteristics/compassionate.jpg"/>
                        </div>
                        <h5>Compassionate</h5>
                        <p>
                            When I see people facing their problems, challenges, and hardships, it is as if I were facing them. This is why I am compassionate with people and compels me to help them face their challenges through giving them example, motivation, and inspiration.
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div>
                            <img class="img-fluid rounded-circle" src="../Content/images/characteristics/humble.jpg"/>
                        </div>
                        <h5>Humble</h5>
                        <p>
                            I am not an arrogant person. I do not boast my skills and talents as if I were better than them.
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div>
                            <img class="img-fluid rounded-circle" src="../Content/images/charref.jpg"/>
                        </div>
                        <h5>Persistent Learner</h5>
                        <p>
                            I continuously learn something no matter how hard it is. If the mistake is committed, I will try learn again and never commit the mistake again. Learning from mistake is true learning.
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div>
                            <img class="img-fluid rounded-circle" src="../Content/images/characteristics/perseverance.jpg"/>
                        </div>
                        <h5>Enthusiastic, Industrious, and Persevering</h5>
                        <p>
                            Enthusiasm, industriousness, and perseverance are some of my weapons to combat my hardships and challenges that I face.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="ben-tophome-links">
                <a href="#top">Back to Top</a>
                <a href="index.html">Back to Home</a>
            </div>
        </div>
        <div>
            <div class="ben-media-acct-cont text-center">
                <span>Follow Me</span>
                <ul>
                    <li>
                        <a 
                            class="fab fa-facebook-square fa-2x ben-media-acct-link" 
                            href="https://www.facebook.com/alphaorionis" 
                            target="_blank" aria-label="Facebook" title="Facebook">
                        </a>
                    </li>
                    <li>
                        <a 
                            class="fab fa-google-plus fa-2x ben-media-acct-link" 
                            href="https://plus.google.com/102657944255965231131" 
                            target="_blank" aria-label="Google" title="Google">
                        </a>
                    </li>
                    <li>
                        <a 
                            class="fab fa-twitter fa-2x ben-media-acct-link" 
                            href="https://twitter.com/benbancure94" 
                            target="_blank" aria-label="Twitter" title="Twitter">
                        </a>
                    </li>
                    <li>
                        <a 
                            class="fab fa-github fa-2x ben-media-acct-link" 
                            href="https://github.com/benbancure94" 
                            target="_blank" aria-label="Github" title="Github">
                        </a>
                    </li>
                    <li>
                        <a 
                            class="fab fa-linkedin fa-2x ben-media-acct-link" 
                            href="https://www.linkedin.com/in/benedict-bancure-656a96153" 
                            target="_blank" aria-label="LinkedIn" title="LinkedIn">
                        </a>
                    </li>
                    <li>
                        <a 
                            class="fab fa-instagram fa-2x ben-media-acct-link" 
                            href="https://www.instagram.com/benedictus_sum1994" 
                            target="_blank" aria-label="Instagram" title="Instagram">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>